<body
  class="w-full dark:bg-dark bg-light min-h-screen absolute bg-gray dark:text-white dark:bg-jet-blue font-poppins bg-cover bg-bottom"
>
  <app-add-topics
    [topics]="topics"
    (removeTopicEvent)="removeTopic($event)"
    (addTopicEvent)="addTopic($event)"
  ></app-add-topics>
  <div
    class="rounded-t-lg mx-auto border-2 border-jet-blue shadow-lg shadow-dark-blue min-h-screen bg-blend-hue backdrop-blur-xl w-2/5 mt-10 px-2 py-2 max-h-max space-y-10"
  >
    <div class="text-center p-2">
      <h1 class="text-4xl font-bold">Ideas</h1>
      <h1 class="">choose ideas for voting</h1>
    </div>

    <div>
      <div class="feed h-full px-2 py-2" *ngFor="let topic of topics">
        <h1 class="p-2 cursor-default font-bold flex space-x-2">
          <img
            class="object-contain mr-2 w-2 dark:invert"
            src="/assets/dot.png"
          />{{ topic.name }}
        </h1>
        <div class="feed-for-topics flex flex-col">
          <app-admin-idea-list
            [ideas]="ideas"
            [topic]="topic"
            (pollEvent)="createPoll($event)"
          ></app-admin-idea-list>
        </div>
      </div>
    </div>
  </div>

  <div
    class="topic-add backdrop-blur-lg absolute p-2 top-52 right-[2rem] w-3/12 h-fit border-2 border-jet-blue rounded-lg shadow-xl shadow-dark-blue"
  >
    <h1 class="font-semibold text-xl text-center">Polls</h1>

    <div
      class="mt-5 flex flex-row"
      *ngFor="let poll of poll_payload"
      class="flex flex-col"
    >
      <h1 class="p-2 cursor-default font-bold flex space-x-2">
        <img
          class="object-contain mr-2 w-2 dark:invert"
          src="/assets/dot.png"
        />{{ poll.topic.name }}
      </h1>
      <div *ngFor="let idea of poll.ideas" class="p-2 space-x-5 text-center">
        <div>
          <h1 class="font-bold">{{ idea.title }}</h1>
          <h1 class="">posted by {{ idea.name }}</h1>
        </div>
      </div>
      <div class="ml-auto flex items-center mt-10 space-x-5">
        <button class="" (click)="removeIdea(poll.topic)">
          <img src="/assets/close.png" class="object-contain dark:invert" />
        </button>
        <button class="  " (click)="confirmPoll()">
          <img src="/assets/done.png" alt="" class="dark:invert" />
        </button>
      </div>
    </div>
  </div>
</body>
