<div
  class="card w-full mx-2 mt-2 p-2 flex space-x-5"
  *ngFor="let idea of ideas | sortTopic : [topic]"
>
  <img src="/assets/user.png" class="object-contain dark:invert" />
  <div
    class="content w-full p-1 rounded-xl border-2 cursor-pointer shadow-md shadow-dark-blue"
  >
    <app-collapse-card [title]="idea.title" [name]="idea.name">
      <h1 class="text-xs px-1">// posted by {{ idea.name }}</h1>
      <h1 class="mt-2 p-1">{{ idea.idea }}</h1>
    </app-collapse-card>
  </div>
  <div class="actions flex space-x-2">
    <button>
      <img
        (click)="chooseIdea(idea)"
        class="dark:invert"
        src="/assets/plus1.png"
      />
    </button>
    <!-- <span *ngIf="payload.ideas.length != 0">selected {{payload.ideas.length}}</span> -->
    <button (click)="removeIdea(idea)">
      <img src="/assets/close.png" class="dark:invert" />
    </button>
  </div>
  <!--ONLY IF ITS SELECTED......-->
  <span *ngIf="test[idea.id] == true" class="ml-auto"
    ><img src="/assets/done.png" class="dark:invert"
  /></span>
</div>
<button
  *ngIf="payload.ideas.length == 2"
  (click)="submitPoll()"
  class=" dark:text-white dark:bg-jet-blue text-jet-blue px-2 rounded-lg flex ml-auto mt-4 backdrop-blur-lg bg-blend-hue"
>
  confirm
</button>
