<body
  class="w-full min-h-screen absolute font-poppins bg-cover bg-bottom"
  background="/assets/circle2.svg"
>
  <div
    class="bg-gray rounded-t-lg mx-auto border-b-0 min-h-screen w-2/5 mt-10 px-2 py-2 max-h-max space-y-10"
  >
    <div
      class="rounded-lg border border-jet-blue px-2 py-2 flex shadow-lg items-center shadow-dark-blue"
    >
      <button
        [routerLink]="['/user/idea', 0]"
        *ngIf="!admin"
        class="px-2 py-2 rounded-full flex space-x-4"
      >
        <img src="/assets/plus2.png" class="hover:bg-gray rounded-full" />
        <h1 class="hover:text-light-gray">Create Idea?</h1>
      </button>
      <div class="ml-auto bg-gray">
        <select
          class="px-2 py-2 cursor-pointer outline-none bg-gray hover:text-light-gray rounded-xl"
          [(ngModel)]="value"
        >
          <option
            class="rounded-xl outline-none"
            *ngFor="let type of types"
            [ngValue]="type"
          >
            {{ type }}
          </option>
        </select>
      </div>
    </div>
    <!--TOPICS AREA-->
    <div
      class="rounded-xl flex flex-wrap p-2 border border-jet-blue items-center shadow-lg shadow-dark-blue"
    >
      <span
        *ngFor="let topic of topics"
        class="m-2 px-2 py-1 flex items-center cursor-default w-fit rounded-full text-sm font-semibold"
      >
        {{ topic.name }}
        <button class="cursor-pointer" (click)="removeTopic(topic)">
          <img
            src="/assets/close3.png"
            class="ml-1 hover:bg-gray rounded-full w-4 object-contain"
          />
        </button>
      </span>

      <select
        *ngIf="toggleSelect"
        class="px-2 py-1 cursor-pointer outline-none hover:bg-light-gray rounded-xl"
        [(ngModel)]="_topic"
        (ngModelChange)="addTopic($event)"
      >
        <option disabled class="rounded-xl bg-gray outline-none w-fit">
          choose a topic
        </option>

        <option
          *ngFor="let topic of topics$"
          class="rounded-xl bg-gray outline-none w-fit"
        >
          {{ topic.name }}
        </option>
      </select>
      <button (click)="toggleSel()" class="ml-1">
        <img src="/assets/plus.png" class="cursor-pointer object-contain" />
      </button>
    </div>

    <!--CARD AREA-->

    <div
      *ngFor="
        let idea of ideas$
          | async
          | sortTopic : topics
          | sortByString : value : name
      "
    >
      <div>
        <app-idea-card [idea]="idea" [editMode]="editMode"></app-idea-card>
      </div>
    </div>
  </div>
</body>
