<div class="font-poppins p-10 flex bg-gray w-screen min-h-screen text-center">
  <div class=" mx-auto">
    <h1 class="text-4xl font-bold">No Admin Privileges</h1>
    <a routerLinkActive="active" [routerLink]="'/user'" class="cursor-pointer font-lg"
      >Please navigate back
    </a>
    <img src="/assets/sad.png" class="mt-16">
    <p class="mt-10">Please contact an admin for elevation and other queries :</p>
    <p>Sanjay Srikar</p>
    <p>9113587107</p>
    <p>sanjaythamma@gmail.com</p>


  </div>
</div>
